// /Users/kittekat/Documents/Jack2Kotlin/Jack2OS/Step04/./vm/Main.vm generated at 2017-10-28 15:01
// class Main
// #########################################################
// function void main
function Main.main 4
// ## LOCAL         0 s            String  
// ## LOCAL         1 i            String  
// ## LOCAL         2 before       int     
// ## LOCAL         3 after        int     
//   16         let before = Memory.getFreeListAddr();
call Memory.getFreeListAddr 0
pop local 2
//   18         let s = String.new(0); // A zero-capacity string should be supported
push constant 0
call String.new 1
pop local 0
//   19         do s.dispose();
push local 0
call String.dispose 1
pop temp 0
//   21         let s = String.new(6); // capacity 6, make sure length 5 will be printed
push constant 6
call String.new 1
pop local 0
//   23         let s = s.appendChar(97);
push local 0
push constant 97
call String.appendChar 2
pop local 0
//   24         let s = s.appendChar(98);
push local 0
push constant 98
call String.appendChar 2
pop local 0
//   25         let s = s.appendChar(99);
push local 0
push constant 99
call String.appendChar 2
pop local 0
//   26         let s = s.appendChar(100);
push local 0
push constant 100
call String.appendChar 2
pop local 0
//   27         let s = s.appendChar(101);
push local 0
push constant 101
call String.appendChar 2
pop local 0
//   28         do Output.printDropString("new, appendChar: ");
push constant 17
call String.new 1
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   29         do Output.printString(s);                // new,appendChar: abcde
push local 0
call Output.printString 1
pop temp 0
//   30         do Output.println();
call Output.println 0
pop temp 0
//   32         let i = String.new(6);
push constant 6
call String.new 1
pop local 1
//   33         do i.setInt(12345);
push local 1
push constant 12345
call String.setInt 2
pop temp 0
//   34         do Output.printDropString("setInt: ");
push constant 8
call String.new 1
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   35         do Output.printString(i);                // setInt: 12345
push local 1
call Output.printString 1
pop temp 0
//   36         do Output.println();
call Output.println 0
pop temp 0
//   38         do i.setInt(-32767);
push local 1
push constant 32767
neg
call String.setInt 2
pop temp 0
//   39         do Output.printDropString("setInt: ");
push constant 8
call String.new 1
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   40         do Output.printString(i);                // setInt: -32767
push local 1
call Output.printString 1
pop temp 0
//   41         do Output.println();
call Output.println 0
pop temp 0
//   43         do Output.printDropString("length: ");
push constant 8
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   44         do Output.printInt(s.length());          // length: 5
push local 0
call String.length 1
call Output.printInt 1
pop temp 0
//   45         do Output.println();
call Output.println 0
pop temp 0
//   47         do Output.printDropString("charAt[2]: ");
push constant 11
call String.new 1
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   48         do Output.printInt(s.charAt(2));         // charAt[2]: 99
push local 0
push constant 2
call String.charAt 2
call Output.printInt 1
pop temp 0
//   49         do Output.println();
call Output.println 0
pop temp 0
//   51         do s.setCharAt(2, 45);
push local 0
push constant 2
push constant 45
call String.setCharAt 3
pop temp 0
//   52         do Output.printDropString("setCharAt(2,'-'): ");
push constant 18
call String.new 1
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   53         do Output.printString(s);                // setCharAt(2,'-'): ab-de
push local 0
call Output.printString 1
pop temp 0
//   54         do Output.println();
call Output.println 0
pop temp 0
//   56         do s.eraseLastChar();
push local 0
call String.eraseLastChar 1
pop temp 0
//   57         do Output.printDropString("eraseLastChar: ");
push constant 15
call String.new 1
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   58         do Output.printString(s);                // eraseLastChar: ab-d
push local 0
call Output.printString 1
pop temp 0
//   59         do Output.println();
call Output.println 0
pop temp 0
//   61         do s.dispose();
push local 0
call String.dispose 1
pop temp 0
//   62         let s = "456";
push constant 3
call String.new 1
push constant 52
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 54
call String.appendChar 2
pop local 0
//   63         do Output.printDropString("intValue: ");
push constant 10
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   64         do Output.printInt(s.intValue());        // intValue: 456
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
//   65         do Output.println();
call Output.println 0
pop temp 0
//   67         do s.dispose();
push local 0
call String.dispose 1
pop temp 0
//   68         let s = "-32123";
push constant 6
call String.new 1
push constant 45
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
pop local 0
//   69         do Output.printDropString("intValue: ");
push constant 10
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   70         do Output.printInt(s.intValue());        // intValue: -32123
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
//   71         do Output.println();
call Output.println 0
pop temp 0
//   73         do Output.printDropString("backSpace: ");
push constant 11
call String.new 1
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   74         do Output.printInt(String.backSpace());  // backSpace: 129
call String.backSpace 0
call Output.printInt 1
pop temp 0
//   75         do Output.println();
call Output.println 0
pop temp 0
//   77         do Output.printDropString("doubleQuote: ");
push constant 13
call String.new 1
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   78         do Output.printInt(String.doubleQuote());// doubleQuote: 34
call String.doubleQuote 0
call Output.printInt 1
pop temp 0
//   79         do Output.println();
call Output.println 0
pop temp 0
//   81         do Output.printDropString("newLine: ");
push constant 9
call String.new 1
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   82         do Output.printInt(String.newLine());    // newLine: 128
call String.newLine 0
call Output.printInt 1
pop temp 0
//   83         do Output.println();
call Output.println 0
pop temp 0
//   85         do i.dispose();
push local 1
call String.dispose 1
pop temp 0
//   86         do s.dispose();
push local 0
call String.dispose 1
pop temp 0
//   88         let after = Memory.getFreeListAddr();
call Memory.getFreeListAddr 0
pop local 3
//   89         if ((after - before) > 0) {
push local 3
push local 2
sub
push constant 0
gt
not
if-goto I-ELS0
//   90           do Output.printDropString("Memory leak: ");
push constant 13
call String.new 1
push constant 77
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printDropString 1
pop temp 0
//   91           do Output.printInt(after - before);
push local 3
push local 2
sub
call Output.printInt 1
pop temp 0
//   92           do Output.println();
call Output.println 0
pop temp 0
goto I-END0
label I-ELS0
label I-END0
//   95         return;
push constant 0
return
